<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<body>
    <h1>Your images will Apear here</h1>
    <a href="/add" <button> Add images</button></a>
    <% for(let i of allImages){ %>
        <div>
            <img src="<%= i.image.url %>"alt=" i.name";/>
            <h4> <%= i.name</h4>
            <p> <%= i.description %> </p>
        </div>
    <% } %>
</body>
</html>